<% commentable.comments.each do |comment| %>
  <div class="media">
    <div class="media-body">
      <h5 class="mt-0">By <%= comment.user.email %></h5>
      <%= comment.body %>
      <p><strong>Likes:</strong> <%= @post.likes.count %> | <strong>Comments:</strong> <%= @post.comments.count %>
      <%= render partial: "comments/likes", locals: {likeable: comment} %> <%= button_to 'Delete', post_comment_path(commentable, comment), class: "btn btn-danger", method: :delete %>


        <% comment.comments.each do |com| %>
          <div class="media mt-3 mr-5">
            <a class="mr-5" href="#">
            </a>
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <hr>

<%= render partial: "comments/form", locals: {commentable: comment} %>
<%= render partial: "comments/comments", locals: {commentable: comment} %>
<% end %>